# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# IDE e caches
.vscode/
.idea/
.pytest_cache/
.mypy_cache/

# Dados e Notebooks (não necessários para a API em produção)
data/
notebooks/
reports/
database/hr_analytics.db # Evita incluir o banco de dados na imagem

# Arquivos de ambiente local
.env