# Arquivos Python compilados e caches
__pycache__/
*.pyc
.pytest_cache/
attrition.egg-info/

# Ambientes virtuais
.env
venv/
env/
.venv/

# Logs e Cobertura de Testes
*.log
.coverage
htmlcov/

# Configurações do editor
.vscode/
.idea/

# Artefatos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar checkpoints do Jupyter
**/.ipynb_checkpoints/

# Ignorar dados processados e saídas
/data/processed/
/outputs/

# Ignorar todos os notebooks Jupyter
*.ipynb
